* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: black;
  background-color: white;
}

html a{
  color: white;
  text-decoration: none;
}

 
#topline{
  background: black;
  width:auto;
  height:10px;
}
/*-------------header logos here-------*/
#account{
  display: inline-block;
  position: relative;
  top: 0px;
  margin:30px;
  max-width: 100%;
}

#leftlogo{
  display: inline-block;
  position: relative;
  top: 0px;
  margin: 10px;
  max-width: 100%;
}

#toplogo{
  display: inline-block;
  position: relative;
  top: -25px;
  margin: auto;
  max-width: 100%;
  font-size: 300%;
}

#search{
  display: inline-block;
  position: relative;
  top: 0px;
  margin: 30px;
  max-width: 100%;
}

#trolley{
  display: inline-block;
  position: relative;
  top: 0px;
  margin: 30px;
  max-width: 100%;
}
/*-------------MAIN CONTENT HERE-------*/

.header{
  height: 350px;
}

.header img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  position: relative;
}

.header .describ {
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  top: -250px;
  font-size: 400%;
}

#button1 {
  text-align: center;
  position: relative;
  margin: auto;
  top: -250px;
  width: 300px;
}

#button2 {
  text-align: center;
  position: relative;
  margin: auto;
  top: -250px;
  width: 300px;
}


#line{
  background: rgb(202, 202, 202);
  width:auto;
  height:1.5px;
  width: 1121px;
  margin: auto;
}

h1 {
  text-align: center;
  color: black;
}

#topcontent{
  background: white;
  width:auto;
  height:100px;
  display: flex;
}
/*------------- MENU HERE -------*/
#nav{
  background: black;
  width:auto;
  height:25px;
  color: white;
  display: block;
  text-align: center;
}

#nav p{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}
/*------------- REWARDS -------*/
.rewards {
  display: flex;
  justify-content: space-around;
}
.rewards a{
  color: black;
}

figure {
  width: 300px;
  display: inline-block;
}

figure img{
  display: block;
  margin:auto;
 
}

figcaption {
  text-align: center;
}

.rewards img{
  width: 200px;
  height: 200px;
  align-self: center;
}

.rewards p{
  color: rgb(224, 16, 16);
}

/*------------- MEMBER CARD -------*/
.card {
  display: flex;
  justify-content: space-around;
}

.card img{
  width: 300px;
  height: 180px;
}

.card p{
  color: rgb(224, 16, 16);
}

/*------------- EARN POINT -------*/
.point {
  display: flex;
  justify-content: space-around;
}

.point img{
  width: 80px;
  height: 80px;
  border:5px solid black"
}

.point p{
  color: rgb(224, 16, 16);
}

.point a{
  color: black;
}


button {
  width: 800px;
  background-color:black;
  border: none;
  color: white;
  padding: 15px 25px; 
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  margin: auto;
  display:block;
}


/*------------- FOOTER -------*/

.footer{
  background-color:black;
  height: 350px;
  position: relative;
  margin: auto;
}

.contact img{
  display: inline-block;
  margin: 1px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

h2 {
  color: white;
}

.footer p {
  color: white;
}

.footer figure{
  margin-left: 100px;
}


/*------------- JOIN IN PAGE -------*/
.joinin_form{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.joinin_form ::placeholder{
  display: inline;
  margin-left: 10px;
}

.joinin_form h1{
  text-align: left;
  margin-top: 10px;
  font-size: 100px;
  margin-bottom: -20px;
}

.joinin_form label{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

input[type="text"]{
  border: none;
  border-bottom:1px solid rgb(219, 219, 219);
  width: 500px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: auto;
  display:block;
}

select,
input[type="email"], 
input[type="tel"],
input[type="date"]{
  border: none;
  border-bottom:1px solid rgb(219, 219, 219);
  width: 500px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: auto;
  display:block;
}


input[type=text]:focus {
  border: 1px solid black;
}


.joinin_form p,label{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.joinin_form a{
  color: black;
}


form #name1{
  width: 225px;
  display: inline-block;
}
form #name2{
  width: 225px;
  margin-left: 50px;
  display: inline-block;
}


input[type=submit] {
  width: 500px;
  background-color:black;
  border: none;
  color: white;
  padding: 15px 25px; 
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  margin: auto;
  display:block;
}

.privacy{
  border: 1px solid black;
  width: 500px;
  margin: auto;
  color: gray;
}

label #yes{
  position: relative;
  display: inline-block;
  justify-content: flex-end;
  margin-left: 95%;
}
/*------------- ENDPOINT PAGE -------*/
.describ2 {
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  top: -220px;
  font-size: 250%;
}

.describ3 {
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  top: -240px;
  font-size: 110%;
}

.current_card{
  margin-left: 385px;
  margin-right: 385px;
  margin-bottom: 20px;
}

.current_card figure{
  display: inline;
  margin: auto;
  justify-content: space-around;
}

.current_card img{
  width: 550px;
  height: 380px;
}

.current_card p{
  text-align: center;
  font-size: 20px;
}


.account {
  display: flex;
  justify-content: space-around;
  margin-left: 385px;
  margin-right: 385px;
  margin-bottom: 20px;
}

.account img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
  height: 70px;
  border:5px solid black"
}

.account a{
  color: black;
}



/*--------------------------------------------------- MEDIA ---------------------------------------------*/
/*------------------------------------------- FOR CLEAR CODE DISPLAY ------------------------------------*/
/*--------------------------------------------------- MEDIA ---------------------------------------------*/

@media screen and (max-width: 414px) {
  button {
    width: 300px;
    background-color:black;
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    margin: auto;
    display:block;
  }
  .rewards{
    position: relative;
    margin: auto;
    display:block;
  }

  .card{
    position: relative;
    margin: auto;
    display:block;
  }

  .point{
    position: relative;
    margin: auto;
    display:block;
  }
    /*-------------------- MEDIA ---------------------- HEADER LOGOS HERE -------*/
    #topcontent{
      background: white;
      width:auto;
      height:70px;
      display: flex;
    }
    
  #account{
    display: inline-block;
    position: relative;
    top: -15px;
    left: -10px;
    margin:auto;
    width: 5px;
    height: 5px;
  }
  
  #leftlogo{
    display: inline-block;
    position: relative;
    top: -30px;
    left: -33px;
    margin:auto;
    width: 5px;
    height: 5px;
  }
  
  #toplogo{
    display: inline-block;
    position: relative;
    top: 0px;
    margin: auto;
    max-width: 100%;
    font-size: 150%;
  }
  
  #search{
    display: inline-block;
    position: relative;
    top: -15px;
    left: -23px;
    margin:auto;
    width: 5px;
    height: 5px;
  }
  
  #trolley{
    display: inline-block;
    position: relative;
    top: -15px;
    left: -20px;
    margin:auto;
    width: 5px;
    height: 5px;
  }
  /*------------------- MEDIA ----------------------- MAIN CONTENT HERE -------*/
  
  .header{
    height: 200px;
  }
  
  .header img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    position: relative;
  }
  
  .header .describ {
    color: black;
    text-align: center;
    position: relative;
    margin: auto;
    top: -70px;
    font-size: 150%;
  }
  
  #button1 {
    text-align: center;
    position: relative;
    margin: auto;
    top: -50px;
    width: 300px;
  }
  
  #button2 {
    text-align: center;
    position: relative;
    margin: auto;
    top: -65px;
    width: 300px;
  }
  
  
  #line{
    background: rgb(202, 202, 202);
    width:auto;
    height:1.5px;
    width: 100%;
    margin: auto;
  }

}
/*---------------------- MEDIA ------------------------- JOIN IN PAGE ----------------*/

@media screen and (max-width: 414px) {
  
.joinin_form{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.joinin_form ::placeholder{
  display: inline;
  margin-left: 10px;
}

.joinin_form h1{
  text-align: left;
  margin-top: 10px;
  font-size: 80px;
  margin-bottom: -20px;
}

.joinin_form label{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

input[type="text"]{
  border: none;
  border-bottom:1px solid rgb(219, 219, 219);
  width: 300px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: auto;
  display:block;
}

select,
input[type="email"], 
input[type="tel"],
input[type="date"]{
  border: none;
  border-bottom:1px solid rgb(219, 219, 219);
  width: 300px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: auto;
  display:block;
  color: gray;
}


input[type=text]:focus {
  border: 1px solid black;
}


.joinin_form p,label{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}


form #name1{
  width: 125px;
  display: inline-block;
}
form #name2{
  width: 125px;
  margin-left: 50px;
  display: inline-block;
}


input[type=submit] {
  width: 300px;
  background-color:black;
  border: none;
  color: white;
  padding: 15px 25px; 
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  margin: auto;
  display:block;
}

.privacy{
  border: 1px solid black;
  width: 300px;
  margin: auto;
  color: gray;
}



}
/*--------------------------- MEDIA------------------------- ENDPOINT PAGE -------*/


@media screen and (max-width: 414px) {


.describ2 {
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  top: -100px;
  font-size: 100%;
}

.describ3 {
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  top: -100px;
  font-size: 100%;
}

.current_card{
  margin-left: 20px;
  margin-right: 20px;
  border:none;
  margin-bottom: 20px;
  margin-top: -15%;
}

.current_card figure{
  display: inline;
  margin: auto;
  justify-content: space-around;
}

.current_card img{
  width: 300px;
  height: 200px;
  margin-top: 5%;
}

.current_card p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 5%;
}


.account {
  display: block;
  justify-content: space-around;
  position: relative;
  align-content: center;
  border:none;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.account img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
  height: 70px;
  border:5px solid black"
}

.account a{
  color: black;
}

}


  /*------------------------------ FOOTER ----------------------*/


@media screen and (max-width: 414px) {


.footer{
  background-color:black;
  height: 1000px;
  position: relative;
  margin: auto;
  display: block;
}

.contact img{
  display: inline-block;
  margin: 1px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

h2 {
  color: white;
  position: relative;
  margin: auto;
  display: block;
}

.footer p {
  color: white;
  position: relative;
  margin: auto;
  display: block;
}

.footer figure{
  margin-left: 100px;
  position: relative;
  margin: auto;
  display: block;
}



}

